# Numpy Practice

### Do The following :
- Finish the practice
- share it on your github account

#### Write the code that will produce the requested output or action as you see on the following cell

In [9]:
## For example 
## to get the output Hello, Mohammed
print("Hello, Mohammed") ## TODO

Hello, Mohammed

In [1]:
print("Hello, my name is 'Faial'")

Hello, my name is 'Faial'

### import the package numpy and make the shortcut "np" for it.

In [2]:
## TODO

!pip install numpy
import numpy as np

Requirement already satisfied: numpy in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (1.19.2)

#### define a numpy array [1, 2, 3, 4, 5] and assign it to variable x

In [3]:
## TODO

x = np.array([1,2,3,4,5])

### Print x

In [4]:
## TODO 
print (x)

[1 2 3 4 5]

### Print the mean of x using numpy

In [5]:
## TODO
print (f"The mean is: {x.mean()}")

The mean is: 3.0

### Print the maximum number in array x

In [7]:
## TODO 
print (f"The maximum is: {x.max()}")

The maximum is: 5

### Generate a random number between 35 and 40

In [10]:
## TODO 
#choose intger or float numbers
rand = np.random.default_rng()

#rand.random.uniform(35,40) # float

np.random.randint(35,40)  # int

35

### generate a list (N) of 1000 numbers with random values between 100 and 150

In [11]:
## TODO 
#choose intger or float numbers 

# N = rand.random.uniform(low = 100, high = 150, size= 1000) # float

N = np.random.randint(100,150,size =(1000))                # int

N

array([132, 143, 104, 102, 106, 103, 142, 126, 117, 133, 141, 149, 141,
       112, 104, 135, 115, 140, 111, 113, 100, 116, 143, 122, 100, 114,
       104, 138, 102, 114, 141, 108, 136, 104, 139, 130, 116, 111, 111,
       143, 148, 136, 102, 115, 101, 135, 146, 101, 141, 141, 130, 138,
       102, 136, 140, 115, 126, 105, 113, 116, 140, 116, 133, 137, 142,
       139, 109, 145, 106, 127, 123, 143, 145, 125, 115, 104, 105, 128,
       128, 122, 121, 116, 124, 144, 131, 123, 136, 118, 142, 137, 137,
       120, 135, 142, 140, 141, 134, 124, 111, 109, 131, 125, 125, 145,
       141, 116, 143, 124, 132, 138, 143, 138, 115, 123, 143, 103, 102,
       135, 135, 133, 111, 148, 143, 146, 135, 133, 141, 147, 143, 147,
       145, 123, 101, 105, 137, 145, 133, 139, 134, 139, 142, 140, 128,
       101, 107, 114, 145, 127, 116, 125, 141, 108, 146, 109, 125, 146,
       111, 149, 120, 143, 100, 146, 149, 112, 134, 130, 111, 125, 146,
       102, 112, 104, 128, 140, 133, 135, 127, 111, 140, 135, 140, 115,
       115, 138, 110, 101, 126, 121, 148, 107, 114, 112, 101, 138, 141,
       106, 126, 109, 147, 101, 112, 126, 111, 109, 140, 106, 114, 110,
       116, 118, 147, 140, 114, 109, 112, 133, 137, 101, 100, 132, 100,
       108, 139, 114, 128, 127, 133, 147, 114, 102, 124, 125, 135, 148,
       147, 143, 125, 141, 109, 119, 111, 120, 149, 133, 123, 144, 106,
       100, 148, 103, 107, 107, 104, 131, 111, 142, 128, 137, 137, 105,
       133, 105, 113, 125, 140, 146, 141, 138, 138, 101, 107, 123, 130,
       129, 129, 104, 143, 143, 125, 128, 137, 143, 111, 122, 144, 136,
       118, 128, 145, 110, 133, 129, 123, 142, 126, 141, 101, 127, 136,
       129, 139, 124, 117, 107, 111, 140, 105, 112, 123, 142, 145, 110,
       141, 105, 149, 134, 114, 121, 100, 108, 146, 114, 147, 101, 102,
       108, 132, 113, 144, 101, 145, 141, 134, 114, 114, 107, 138, 135,
       147, 105, 124, 115, 141, 114, 123, 134, 132, 113, 141, 121, 145,
       128, 132, 100, 105, 134, 136, 108, 113, 119, 147, 113, 127, 139,
       117, 116, 117, 135, 117, 115, 129, 120, 114, 127, 112, 118, 108,
       107, 112, 148, 104, 125, 142, 123, 110, 101, 111, 149, 117, 140,
       143, 143, 102, 126, 106, 130, 129, 139, 117, 145, 113, 133, 116,
       110, 109, 129, 129, 111, 129, 144, 112, 131, 117, 116, 143, 103,
       109, 109, 105, 114, 109, 131, 102, 107, 133, 116, 100, 137, 135,
       127, 129, 108, 113, 134, 147, 147, 110, 116, 125, 145, 131, 145,
       109, 103, 119, 137, 141, 146, 113, 118, 131, 104, 133, 103, 134,
       126, 119, 137, 125, 106, 114, 116, 119, 121, 134, 125, 109, 105,
       138, 117, 105, 120, 124, 129, 148, 147, 133, 118, 137, 123, 110,
       127, 147, 144, 129, 137, 106, 108, 126, 118, 127, 135, 137, 129,
       134, 105, 147, 119, 140, 106, 118, 100, 105, 124, 141, 145, 113,
       104, 131, 119, 100, 142, 136, 123, 127, 114, 121, 132, 118, 146,
       117, 102, 149, 146, 117, 102, 121, 100, 137, 129, 134, 108, 136,
       143, 110, 111, 133, 124, 113, 125, 111, 144, 106, 118, 144, 146,
       112, 131, 121, 124, 139, 108, 120, 101, 105, 123, 110, 107, 103,
       108, 108, 113, 125, 102, 124, 143, 135, 117, 136, 113, 139, 113,
       122, 109, 118, 111, 148, 104, 106, 101, 109, 127, 107, 127, 103,
       105, 111, 118, 138, 130, 131, 102, 137, 111, 127, 109, 100, 109,
       147, 149, 115, 111, 116, 128, 146, 121, 106, 112, 144, 145, 125,
       137, 128, 122, 148, 109, 138, 138, 138, 123, 135, 137, 134, 140,
       140, 141, 126, 114, 131, 144, 116, 124, 112, 120, 114, 123, 115,
       112, 106, 119, 130, 131, 119, 104, 113, 121, 107, 103, 136, 117,
       103, 103, 136, 101, 132, 139, 142, 110, 113, 110, 111, 114, 147,
       146, 148, 113, 130, 115, 118, 100, 134, 145, 108, 115, 145, 147,
       141, 134, 137, 136, 138, 127, 118, 140, 135, 139, 124, 113, 106,
       146, 146, 128, 105, 129, 123, 108, 101, 146, 107, 108, 135, 145,
       120, 143, 127, 128, 147, 125, 134, 146, 105, 117, 125, 120, 115,
       106, 131, 143, 142, 109, 147, 118, 147, 108, 147, 116, 123, 106,
       116, 119, 117, 121, 149, 113, 120, 104, 119, 104, 115, 118, 125,
       141, 107, 118, 134, 126, 142, 111, 113, 144, 108, 130, 143, 126,
       132, 139, 143, 141, 131, 126, 134, 107, 122, 139, 111, 138, 125,
       146, 120, 147, 119, 144, 131, 104, 133, 144, 138, 116, 110, 116,
       114, 104, 132, 120, 127, 148, 122, 115, 146, 143, 147, 113, 115,
       118, 101, 144, 138, 141, 123, 126, 142, 133, 117, 121, 120, 121,
       112, 142, 114, 105, 114, 123, 110, 103, 146, 131, 123, 112, 138,
       116, 149, 115, 105, 134, 102, 114, 137, 139, 123, 133, 145, 147,
       115, 122, 105, 127, 144, 139, 102, 100, 138, 139, 120, 114, 140,
       132, 114, 100, 103, 145, 101, 146, 128, 140, 121, 107, 121, 103,
       102, 114, 125, 142, 120, 109, 141, 124, 106, 127, 123, 148, 104,
       133, 138, 105, 125, 149, 148, 113, 139, 144, 115, 142, 138, 123,
       129, 120, 118, 124, 149, 137, 143, 115, 116, 121, 123, 146, 111,
       120, 112, 122, 126, 137, 128, 119, 110, 126, 105, 106, 107, 125,
       142, 112, 125, 144, 100, 149, 126, 105, 112, 109, 111, 114, 138,
       143, 108, 128, 131, 124, 149, 114, 148, 116, 109, 127, 132, 113,
       143, 120, 148, 132, 125, 122, 116, 105, 120, 129, 148, 146, 147,
       129, 144, 136, 128, 145, 138, 148, 110, 130, 112, 104, 141, 137,
       117, 127, 108, 145, 100, 125, 137, 107, 136, 102, 123, 103, 123,
       130, 135, 148, 139, 111, 116, 149, 135, 117, 145, 105, 113, 121,
       105, 141, 103, 146, 131, 121, 140, 101, 119, 123, 132, 115])

### get the mean, median, std, and variance of the list N

In [12]:
## TODO 
print(f'The Mean is {np.mean(N)}')
print(f'The Median is {np.median(N)}')
print(f'The std is {np.std(N)}')
print(f'The variance is {np.var(N)}')

The Mean is 124.607
The Median is 124.0
The std is 14.568477991883709
The variance is 212.240551

### generate a 2D array of size 3 x 4 of random numbers between 18-65

In [13]:
##TODO 
#choose intger or float numbers

ary1 = np.random.randint(18,65,size=(3,4)) #int

#ary1 = rng.uniform(low=18, high=65, size=(3,4)) #float

ary1

array([[36, 29, 26, 45],
       [42, 61, 34, 28],
       [50, 21, 57, 19]])

### Get the mean for every columns N

In [15]:
## TODO

colm = ary1.mean(axis = 0)
print(f'The First column {colm[0]}') 

print(f'The Second column {colm[1]}')

print(f'The Thered column {colm[2]}')

ary1

The First column 42.666666666666664
The Second column 37.0
The Thered column 39.0

array([[36, 29, 26, 45],
       [42, 61, 34, 28],
       [50, 21, 57, 19]])

### Get the mean for every row of N

In [16]:
## TODO

Row = ary1.mean(axis = 1)
print(f'The First row  {Row[0]}') 

print(f'The Second row {Row[1]}')

print(f'The Thered row {Row[2]}')

ary1

The First row  34.0
The Second row 41.25
The Thered row 36.75

array([[36, 29, 26, 45],
       [42, 61, 34, 28],
       [50, 21, 57, 19]])

### Create the following 2D array (S) of students grade in a classroom
- grades [coursework, midterm exam, final exam]
- [20, 15, 40]
- [25, 24, 35]
- [21, 15, 25]

In [17]:
## TODO

S = np.array([[20, 15, 40],[25, 24, 35],[21, 15, 25],])

S

array([[20, 15, 40],
       [25, 24, 35],
       [21, 15, 25]])

### Get the sums of student grades in S

In [21]:
## TODO

mark = S.sum(axis = 1)

print('Stud1 =',mark[0])
print('Stud2 =',mark[1])
print('Stud3 =',mark[2])

Stud1 = 75
Stud2 = 84
Stud3 = 61

### Get the means of student grades in every activity (coursework, midterm exam, final exam) in S

In [22]:
## TODO

totalMarks = S.mean(axis = 0)

print(f"The Mean of Coursework {totalMarks[0]}")
print(f"The Mean of Midterm exam {totalMarks[1]}")
print(f"The Mean of Final exam {totalMarks[2]}")
S

The Mean of Coursework 22.0
The Mean of Midterm exam 18.0
The Mean of Final exam 33.333333333333336

array([[20, 15, 40],
       [25, 24, 35],
       [21, 15, 25]])

### reshape S in a way that make the colums represent the students and rows represent the activity, as follow
- [20, 25, 21] 
- [15, 24, 15]
- [40, 35, 25]

In [23]:
## TODO
trans = S.transpose()
#print("testoutput",b.mean(axis=1)[0])
#print("testoutput",b.mean(axis=1)[1])
#print("testoutput",b.mean(axis=1)[2])
trans

array([[20, 25, 21],
       [15, 24, 15],
       [40, 35, 25]])

# Pandas Practice

### import the package pandas and make the shortcut "pd" for it.

In [24]:
## TODO
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (1.2.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (from pandas) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\faisal\anaconda3\envs\bootcamp\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

### create Series call it (Data) with the values 'a','b','d','u' and 'I'

In [25]:
## TODO

data = ['a','b','d','u','I']
data

['a', 'b', 'd', 'u', 'I']

### change index to 3,6,9,12, and 15 for (data)

In [27]:
## TODO

catalogue = [3,6,9,12,15]
pd.Series(data,catalogue)

3     a
6     b
9     d
12    u
15    I
dtype: object

### change index to client1, client2, client3, client4 and client5 for (data)

In [32]:
## TODO 
pd.Series(data,index=['client1','client2','client3','client4','client5'])

client1    a
client2    b
client3    d
client4    u
client5    I
dtype: object

### create a dataframe (D) with the followin values
- 	Name -	Age
-   Ali	 -  55
- 	Ahmad -	15
- 	Nora -	40

### Get the means of ages of people in (D)

In [37]:
## TODO expected value is 36.66

names=['Ali','Ahmad','Nora']
ages = [55,15,40]
D = pd.DataFrame({'Name':names,'Age':ages})

D

    Name  Age
0    Ali   55
1  Ahmad   15
2   Nora   40

In [39]:
np.mean(D)

Age    36.666667
dtype: float64